<div>
    <ng-container *ngIf="defaultUsername.value; else  usernameNotSet">
        <h2>Hello {{ defaultUsername.value }}!</h2>
    </ng-container>
    <ng-template #usernameNotSet>
        <h2>Hello <i>Unknown</i>!</h2>
        <p>Do you want to set a name, I should call you?</p>
        <input #usernameField type="text" pInputText />
        <button (click)="setDefaultUsername(usernameField.value)">Set username</button>
    </ng-template>
</div>
<div>
    <ng-container *ngIf="sessions.value && (sessions.value.length > 0); else noSessions">
        <p>Your previous sessions:</p>
        <ng-container *ngFor="let session of sessions.value">
            <poker-session [session]="session"
            (deleteSession)="deleteSession($event)"
            (pokerMessage)="pokerMessage($event)"></poker-session>
        </ng-container>
    </ng-container>
    <ng-template #noSessions>
        <p>You don't have any active sessions.</p>
    </ng-template>
    <p>Start a new session:</p>
    <input #sessionnameField />
    <button (click)="newSession(sessionnameField.value)">Start new Session</button>
</div>