<div>
    <h2>{{ session.name }}</h2>
    <div pTemplate="icons">
        <button (click)="modifySessionDialog = true">✏️</button>
        <button (click)="deleteSession.emit(session)">🗑️</button>
    </div>
</div>
<div>
    <h2>Change name of {{session.name}}</h2>
    <p class="m-0">
        <input #newName />
        <button (click)="updateSessionName(newName.value)">Update</button>
    </p>
</div>
<div>
    <h2>Send</h2>
    <p>
        <input #send />
        <button (click)="sendMessage(send.value)">Send</button>
    </p>
</div>