<header>
  <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
    <a class="pure-menu-heading" routerLink="/">Simple Agile Poker</a>
  </div>
</header>
<div class="content-wrapper">
  <div class="content">
    <router-outlet />
  </div>
</div>